/* input[type="datetime-local"]::-webkit-inner-spin-button,
input[type="datetime-local"]::-webkit-calendar-picker-indicator {
   
} */
.add_screen {
  position: absolute;
  top: 0;
  left: 70px;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2d232b;
  color: white;
  z-index: inherit;
}
.add_form {
  background: rgba(50, 12, 43, 0.4);
  border-radius: 10px;
  height: 90vh;
  overflow-y: auto;
  padding: 10px 20px;
}
.back_button {
  display: flex;
  align-items: center;
}
#back_icon {
  font-size: 16px;
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.event_type {
  border: 1px solid #93227f;
  outline: none;
  border-radius: 8px;
  width: 250px;
  height: 34px;
  font-size: 15px;
  color: white;
  background-color: rgba(0, 0, 0, 0.747);
}
.text_input {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: safe;
  padding: 4px 15px;
  max-width: 220px;
  margin: 10px 0;
  border-bottom: 1px solid #93227f;
}
.text_input input {
  outline: none;
  background-color: transparent;
  color: white;
  border: none;
  padding: 0 15px;
  font-size: 15px;
}
.text_area {
  width: 250px;
  margin: 15px 0;
  outline: none;
  border: none;
  color: white;
  max-width: 250px;
  padding: 8px;
  height: 70px;
  margin-top: 50px;
  background-color: #201e1e;
  border-bottom: 1px solid #8b8b8b;
}
.submit {
  width: 120px;
  border: none;
  outline: none;
  float: left;
  color: white;
  background-color: #93227f;
  border-radius: 25px;
  padding: 5px 4px;
  font-size: 13px;
}
.a {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 680px) {
  .add_screen {
    left: 0px;
  }
}

@media (max-width: 430px) {
  .add_form {
    width: 100vw;
    height: 100vh;
  }
}
